{% assign item = include.item %}
<div class="border-bottom border-gray py-2 px-3 publication-item">
  <span class="pub-index">{{ forloop.index }})</span>
  <span class="pub-content">
    {% include widgets/author_list.html authors=item.authors %},
    {% if item.pub_link %}
      <a href="{{ site.baseurl }}{{ item.pub_link }}">``{{ item.title }},''</a>
    {% else %}
      ``{{ item.title }},''
    {% endif %}
    {% if item.pub_pre %}{{ item.pub_pre }}{% endif %}
    <i>{{ item.pub }}</i>,
    {% if item.pub_post %}{{ item.pub_post }},{% endif %}
    {% if item.pub_date %}{{ item.pub_date }}.{% endif %}
    {% if item.pub_last %}{{ item.pub_last }}{% endif %}
    {% if item.links %} 
      {% for link in item.links %}
        {% if forloop.first %}[{% endif %}
        {% if link[1].url %}
          <a target="{{ link[1]['target'] | default: '_blank' }}" href="{{ link[1]['url'] }}">{{ link[0] }}</a>
        {% else %}
          <a target="_blank" href="{{ link[1] }}">{{ link[0] }}</a>
        {% endif %}
        {% unless forloop.last %}, {% else %}]{% endunless %}
      {% endfor %}
    {% endif %}
  </span>
</div>
